<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/infirmier.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" ><!-- link to add-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <title>Rendez-vous | Sah-Tech</title>
</head>

<body id="body">
  <!--sidebar starts here-->
  <div class="sidebar">
    <img src="/stylesheets/img/logoapppp.png" class="sidebar_img">
    <div class="logo-details">
       <i class='bx bx-menu' id="btttn" ></i>
    </div>
  </div>
  <!--sidebar ends here-->
    <div class="container">
        <nav class="navbar">    
              <h2 for="btttn">Rendez-vous</h2>
              <div class="search-wrapper">
                <span class="las la-search" ></span>
                <input type="search" placeholder="Recherche" />
              </div>
              <!--modification profil-->
              <!-- drop-down user account -->
              <div class="user-wrapper">
                <div class="action">
                  <div class="profile" onclick="menuToggle();">
                    <img src="/stylesheets/img/medecina.png"  alt="">
                  </div> 
                  <div class="menu">
                    <% if(data.length!=0){ data.forEach(function(data){ %>
                      <h3>
                          <%=data.nom%> <%=data.prenom%>
                          <div><%=data.Email%></div>
                      </h3>
                      <ul>
                          <li>
                              <button class="rundown-btn"><a href="/profil/<%=data.Email%>">
                                <span class="material-icons icons-size" id="p">person</span>
                                <span class="links_name"><h4>Mon profile</h4></span>
                              </a></button>
                          </li>
                          <li>
                            <button class="rundown-btn">
                              <span class="material-icons icons-size" id="p">mail</span>
                                <span class="links_name"><h4>Boite de récéption</h4></span>
                              </button>
                          </li>
                          <li>
                            <button class="rundown-btn">
                              <span class="material-icons icons-size" id="p">logout</span>
                                <span class="links_name"><h4>Se déconnecter</h4></span>
                              </button>
                          </li>
                      </ul>
                    <% })}%>
                  </div>
              </div>
            </div>             <!-- drop-down user account -->
        </nav>
        <main class="main">
            <div class="user-wrapper2">
                <div class="action2">
                  <div class="form">
                    <% if(demandeData.length!=0){ demandeData.forEach(function(data){ %>
                      <form action="infirmier/modifier/<%=data.IdDemandeRDV%>" method="POST">
                        <table>
                            <tbody>
                              <tr>
                                <td><h4>Date</h4></td>
                                <td><input type="date" name="date"></td>
                              </tr>
                              <tr>
                                <td><h4>Heure debut</h4></td>
                                <td><input type="time" name="hdebut"></td>
                              </tr>
                              <tr>
                                <td><h4>Heure fin</h4></td>
                                <td><input type="time" name="hfin"></td>
                              </tr>
                            </tbody>
                        </table>
                        <div class="form1" style="display:flex;">
                          <button class="btn">Envoyer</button>
                          <button class="btn">Annuler</button>
                        </div>
                      </form>
                      <% })}%>
                  </div>
              </div>
            </div> 
            <h1>Les demandes</h1>
            <table class="table">
            <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Date</th>
                  <th>Catégorie</th>
                  <th>Motif</th>
                  <th>H-debut</th>
                  <th>H-fin</th>
                  <th style="color:blueviolet;">Options</th>
                 
                </tr>
              </thead>
              <tbody>
                <% if(demandeData.length!=0){ var i=1; demandeData.forEach(function(data){ %>
                <tr>
                  <td><%=data.nom%></td>
                  <td><%=data.prenom%></td>
                  <td><%=data.DateRDV%></td>
                  <td class="amount"><%=data.categorie%></td>
                  <td><%=data.Motif%> </td>
                  <td class="amount"><%=data.HeureDébutRDV%></td>
                  <td><%=data.HeureFinRDV%> </td>
                  <td class="amount">
                    <form action="infirmier/accepter/<%=data.IdDemandeRDV%>" method="GET"></form>
                  <button class="btn"  ><a href="infirmier/accepter/<%=data.IdDemandeRDV%>">
                    <i class="fa fa-check" aria-hidden="true"></i>
                  </button>
                  </form>
                  <form action="infirmier/refuser/<%=data.IdDemandeRDV%>" method="GET">
                    <button class="btn"><a href = "infirmier/refuser/<%=data.IdDemandeRDV%>">
                        <i class="fa fa-times" aria-hidden="true"></i></a>
                      </button>
                  </form>
                      <form action="infirmier/refuser/<%=data.IdDemandeRDV%>" method="GET">
                      <button class="btn"><a  href="infirmier/modifier/<%=data.IdDemandeRDV%>">
                        <i class="fa fa-pencil" aria-hidden="true" onclick="formToggle();" ></i></a>
                      </button>
                      </form>
                  </td>
                </tr>
                <% i++; }) %>
                  <% } else{ %>
                    <tr>
                      <td colspan="7">No Data Found</td>
                    </tr>
                    <% } %>
              </tbody>
            </table>
            <h1>Rendez-vous</h1>
             <table class="table">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date</th>
                    <th>Catégorie</th>
                    <th>Motif</th>
                    <th>H-debut</th>
                    <th>H-fin</th>
                    <th style="color:blueviolet;">Options</th>
                  </tr>
                </thead>
                <tbody>
                  <% if(rdv.length!=0){ var i=1; rdv.forEach(function(data){ %>
                    <tr>
                      <td><%=data.nom%></td>
                      <td><%=data.prenom%></td>
                      <td><%=data.DateRDV%></td>
                      <td class="amount"><%=data.categorie%></td>
                      <td><%=data.Motif%></td>
                      <td class="amount"><%=data.HeureDébutRDV%></td>
                      <td><%=data.HeureFinRDV%></td>
                      <td class="amount">
                        <form action="infirmier/delete/<%=data.IdRDV%>" method="GET">
                        <button class="btn"><a href="infirmier/delete/<%=data.IdRDV%>">
                          <i class="fa fa-trash" aria-hidden="true"></i></a>
                        </button>
                        </form>
                      </td>
                    </tr>
                  <% i++; }) %>
                  <% } else{ %>
                    <tr>
                      <td colspan="7">No Data Found</td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
        </main>
    </div>
   
      </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/stylesheets/fichiers-js/infirmier.js"></script>
    <!-- début drop-down user account -->
 
  <!-- fin drop-down user account -->

</body>

</html>