<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/Profil.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" ><!-- link to add-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <title>Profile | Sah-Tech</title>
</head>

<body id="body">
  <!--sidebar starts here-->
  <div class="sidebar">
    <img src="/stylesheets/img/logoapppp.png" class="sidebar_img">
    <div class="logo-details">
       <i class='bx bx-menu' id="btttn" ></i>
    </div>
  </div>
  <!--sidebar ends here-->
    <div class="container">
        <nav class="navbar">    
              <h2 for="btttn">Profile</h2>
              <div class="search-wrapper">
                <span class="las la-search" ></span>
                <input type="search" placeholder="Recherche" />
              </div>
              <!--modification profil-->
              <!-- drop-down user account -->
              <div class="user-wrapper">
                <div class="action">
                  <div class="profile" onclick="menuToggle();">
                    <img src="/stylesheets/img/medecina.png"  alt="">
                  </div>
          
                  <div class="menu">
                    <% if(data.length!=0){ data.forEach(function(data){ %>

                      <h3>
                          <%=data.nom%> <%=data.prenom%>
                          <div><%=data.Email%></div>
                      </h3>
                      <ul>
                          <li>
                              <button class="rundown-btn"><a href="/profil/<%=data.Email%>">
                                <span class="material-icons icons-size" id="p">person</span>
                                <span class="links_name"><h4>Mon profile</h4></span></a>
                              </button>
                          </li>
                          <li>
                            <button class="rundown-btn">
                              <span class="material-icons icons-size" id="p">mode</span>
                                <span class="links_name"><h4>Modifier le compte</h4></span>
                              </button>
                          </li>
                          <li>
                            <button class="rundown-btn">
                              <span class="material-icons icons-size" id="p">mail</span>
                            
                                <span class="links_name"><h4>Boite de récéption</h4></span>
                              </button>
                          </li>
                          <li>
                            <form action="deconnecter" method="GET">
                            <button class="rundown-btn">
                              <span class="material-icons icons-size" id="p">logout</span>
                                <span class="links_name"><h4>Se déconnecter</h4></span>
                              </button></form>
                          </li>
                      </ul>
                      <% })}%>
                  </div>
              </div>
            </div>             <!-- drop-down user account -->
        </nav>
        <main class="main">
          <div class="wrapper">
         
            <div class="card">
              <% if(data.length!=0){ data.forEach(function(data){ %>
                <div class="header">
                  <div>
                    <h3 class="name"><%=data.nom%> <%=data.prenom%></h3>
                        <h3 class="sub-name"><%=data.Email%></h3>
                      </div>
                    <div class="main2">
                        <div class="image">
                          <img src="/stylesheets/img/medecina.png"  id="photo" alt="" >
                          <div class="modal">
                            
                             
                            <div class="close"></div>
                        </div>
                            <div class="hover">
                                <i class="fas fa-camera fa-2x"></i>
                                <input type="file" id="file">
                            <label for="file" id="uploadBtn">Choose Photo</label>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
    
                <div class="content">
                  <form action="" method="POST">
                        <div class="about-container">
                            <h2 class="title">Information</h2>
                            <div class="content content-1">
                              
                   
                
                              <p>
                                  <table class="table">
                                   
                                      <tbody>
                                        <tr>
                                          <td><h4>Nom Prénom</h4></td>
                                          <td><input type="text" id="nom" name="nom" value="<%=data.nom%>" disabled /><input type = "text" id="prenom" name="prenom" value="<%=data.prenom%>" disabled /> </td>
                                          <td><h4>Date de naissance</h4></td>
                                          <td ><input type="date" id="dnai" name="dnai" value="<%=data.DateNaissance%>" disabled /></td>
                                        </tr>
                                        <tr>
                                          <td><h4>Adresse</h4></td>
                                          <td class="td1"><input type="text" id="adr" name="adr"  value="<%=data.Adress%>" disabled></input></td>
                                          <td><h4>Numéro téléphone</h4></td>
                                          <td class="td1"><input type="number" id="numtel" name="numtel" disabled value="<%=data.NumTel%>"></input></td>
                                        </tr>
                                        <tr>
                                          <td><h4>Email</h4></td>
                                          <td ><input type="email" id="email" name="email" value="<%=data.Email%>" disabled /></td>
                                          <td><h4>Sexe</h4></td>
                                          <td ><input type="text" id="sexe" name="sexe" value="<%=data.sexe%>" disabled/></td>
                                        </tr>
                                        <tr>
                                          <td><h4>Mot de passe</h4></td>
                                          <td class="td1"><input type="password" id="mdp" name="mdp" value="---" disabled></input></td>
                                        </tr>
                                        
                                      </tbody>
                               </table>
                              </p>
                            </div>
                        </div>
                        
                        <div class="buttons-wrap">
                            <div class="enregistrer-wrap">
                                <button  class="enregistrer" type="submit" >Enregistrer</button></form>
                            </div>
                            <div class="modifier-wrap">
                                <button id="bbbtn" type="button" class="modifier" onclick="enable()">Modifier</button>
                            </div>
                        </div>
                        
                    </div>
                  <% })}%>

                </div>
            </div>
       
        </main>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/stylesheets/fichiers-js/profile.js"></script>
    <!-- <script src="profile2.js"></script> -->
    <!-- début drop-down user account -->
 
  <!-- fin drop-down user account -->

</body>

</html>